body{
    background-color: #F6FAB9;
    color: #CAE6B2;
}
h1{
    font-family: "SF Pro Display", serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 100px;
}
#container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
    margin-left: 400px;
}
#container > .box{
    background-color: #8E3E63;
}